/*

filename: styles1.css

about: styles for the generic website
that has the header, navigation, a sidebar,
and informational texts and/or links

*/

 header h1 {
   font-family: 'ABeeZee', sans-serif;
 }

 {
  outline: 1px solid red;
}

ul li {
  padding-top: 5px;
}
 ul a#noDecor {
   text-decoration: none;
   color: black;
 }
