/*

filename: styles1.css

about: styles for the generic website
that has the header, navigation, a sidebar,
and informational texts and/or links

*/

 header h1 {
   font-family: 'ABeeZee', sans-serif;
 }
=======
/*Fonts*/
/*ABeeZee: font-family: 'ABeeZee', sans-serif;*/
